.ViewerBox {
    background-color: white;
    height: inherit;
    background: rgba(255, 255, 255, 0.2);
    width: 300%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition-property: transform;
    transition-duration: .5s;
}

.Viewer {
    overflow: hidden;
    height: 300px;
    width: 450px;
    border-radius: 7px;
    margin: 0;
}

.ViewerContainer {
    width: 450px;
    height: 350px;
}

.Slide {
    width: 450px;
    float: left;
}

.Arrow {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: auto;
    width: 10px;
    height: 10px;
    border: solid rgba(0, 0, 0, 0.18);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.Header {
    color: white;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.Text {
    color: white;
    padding-left: 50px;
    padding-right: 15px;
    list-style-type: circle;
}

.Item {
    list-style-type: circle;
}

.RightArrow {
    transform: rotate(-90deg);
    margin-right: 20px;
    float: right;
}

.LeftArrow {
    margin-left: 20px;
    transform: rotate(90deg);
}