.Footer {
    height: 200px;
    min-height: 200px;
    background-color: rgba(169, 169, 169, 0.42);
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Profile {
    border-radius: 50%;
    transform: scale(.8);
    margin: auto;
}

.Resume {
    align-self: center;
    // height: 20px;
    // width: 50px;
    margin: auto;
}